* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-bar {
    background: #333;
    color: #fff;
    padding: 1rem;
    position: relative;
}

.btn {
    background: coral;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.7rem 2rem;
}

.btn-hover {
    opacity: 0.9;
}

.page-info {
    margin-left: 1rem;
}

.error {
    background: orangered;
    color: #fff;
    padding: 1rem;
}

.dld {
    position: absolute;
    right: 1rem;
    text-decoration: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.dld:hover {
    font-size: large;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}